{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ blog.title }}</h1>
  <p><strong>Post date:</strong> {{ blog.post_date }}</p>
  <p><strong>Author:</strong> <a href="{{ blog.author.get_absolute_url }}">{{ blog.author }}</a></p>
  <p><strong>Description:</strong></p>
  <p>{{ blog.description|linebreaks }}</p>
  
  <div style="margin-left:20px;margin-top:20px">
    <h4>Comments</h4>

    {% for comment in blog.blogcomment_set.all %}
      <hr />
      <p>
        {{ comment.user }} ({{ comment.post_datetime }}) - {{ comment.description }}
      </p>
    {% endfor %}
    <hr />
    {% if user.is_authenticated %}
      <p><a href="{% url 'create-comment-user' blog.id %}">Add a new comment</a></p>
    {% else %}
      <p><a href="{% url 'login' %}?next={{ request.path }}">Add a new comment</a></p>
    {% endif %}
  </div>
{% endblock %}
